header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
}

header ul{
    display: flex;
    gap:50px;
    list-style-type: none;
}

header ul li{
    color: white;
}

h1, p{
    text-align: center;
}
.section{
    display: flex;
    justify-content: space-around;
}

.section2{
    display: flex;
    padding: 100px;
}

.texto{
    width: 50%;
}

.imagem{
    width: 50%;
   
}
